<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List</title>
</head>
<body>
    <h1>People Table</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for person in people %}
        <tr>
            <td> {{ person.id }} </td>
            <td> {{ person.name }} </td>
            <td> {{ person.age }} </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Add New Person</a>
</body>
</html>